terraform {
  backend "s3" {
    bucket         = "REPLACE_ME_terraform_state"
    key            = "quizup/terraform.tfstate"
    region         = "us-east-1"
    profile        = "default"
    dynamodb_table = "REPLACE_ME_terraform_locks"
    encrypt        = true
  }
}
